APP_URL=PUT YOUR DOMAIN HERE. IT WILL BE USED TO DISPLAY SHORTEND URLS (ex: https://shorturl.com)
CONTACT_EMAIL=PUT YOUR EMAIL HERE. IF YOU DON'T WANT TO GET CONTACTED MAKE IT EMPTY (ex: contanct@gmail.com)

RECAPTCHA_ENABLED=false
RECAPTCHA_SITEKEY=PUT YOUR SITE KEY HERE
RECAPTCHA_SECRETKEY=PUT YOUR SECRET KEY HERE

HOST=0.0.0.0
PORT=80
NODE_ENV=production
CACHE_VIEWS=false
APP_KEY=zowzDaSJrWCObhCI7W3CcVQv7MQSkygd
DB_CONNECTION=sqlite
DB_HOST=127.0.0.1
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_DATABASE=urlshortener
SESSION_DRIVER=cookie
HASH_DRIVER=bcrypt